body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007bff;
    padding: 20px;
    text-align: center;
}

.logo img {
    width: 150px;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reset-password-container {
    text-align: center;
    padding: 20px;
}

.reset-password-container h2 {
    margin-bottom: 20px;
}

.reset-password-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reset-password-container button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Make the button as wide as the input field */
}

.reset-password-container p {
    margin-top: 20px;
}

.reset-password-container p a {
    color: #007bff;
    text-decoration: none;
}