body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
}

.search-bar {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    margin: 0 20px;
}

.search-bar input[type="text"] {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.search-bar button {
    background-color: #0056b3;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.user-actions a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-image img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.profile-info {
    flex-grow: 1;
}

.profile-info h2 {
    margin-bottom: 10px;
    color: #007bff;
}

.profile-info p {
    margin: 5px 0;
}

.account-actions {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.account-actions ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.account-actions li {
    margin: 10px 0;
}

.account-actions a {
    color: #007bff;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.account-actions a i {
    margin-right: 10px;
}

.account-actions li.active a {
    font-weight: bold;
    color: #0056b3;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    margin-top: 20px;
}
